html{font-size: 20px;}
/* !fonts  */
@font-face {
   font-family: 'Roboto-regular';
   src: url(../Fonts/Roboto-Regular.ttf) type(true);
   font-weight: regular;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto-bold';
   src: url(../Fonts/Roboto-Bold.ttf) type(true);
   font-weight: bold;
   font-style: normal;
}

